<button class="btn btn-primary" ng-click="saveDialog()">Add Project</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Project Id</th>
        <th>Project Name</th>
        <th>Project Description</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tr ng-repeat="project in projects">
        <td>{{ project.id }}</td>
        <td>{{ project.project_id }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
        <td><a href="#/project/{{ project.id }}" class="btn btn-primary">View</a></td>
        <td><button class="btn" type="button" ng-click="saveDialog(project)">Edit</button></td>
        <td><button class="btn btn-danger" type="button" ng-click="deleteProject(project, $index)">Delete</button></td>
    </tr>
</table>
