<div ng-controller="RequirementListCtrl">
    <button class="btn btn-primary" ng-click="saveDialog()">Add Requirement</button>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Project Id</th>
            <th>Project Name</th>
            <!--<th></th>-->
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr ng-repeat="item in items">
            <td>{{ item.id }}</td>
            <td>{{ item.project_id }}</td>
            <td>{{ item.name }}</td>
            <!--<td><a href="#/project/{{ item.id }}" class="btn btn-primary">View</a></td>-->
            <td><button class="btn" type="button" ng-click="saveDialog(item)">Edit</button></td>
            <td><button class="btn btn-danger" type="button" ng-click="delete(item, $index)">Delete</button></td>
        </tr>
    </table>
</div>


