<div class="widget-box" ng-show="currentUserStory.id">
    <div class="widget-title">
        <span class="icon">
            <a save-user-story-dialog ng-click="saveUserStory(currentUserStory)" href="">
                <i class="glyphicon glyphicon-edit"></i> Edit
            </a>
        </span>
        <span class="icon">
            <a delete-user-story-dialog ng-click="deleteUserStory(currentUserStory.project_id, currentUserStory.id)" href="">
                <i class="glyphicon glyphicon-trash"></i> Delete
            </a>
        </span>
        <span class="icon">
            <a save-test-case-dialog ng-click="saveTestCase(currentUserStory.id)" href="">
                <i class="glyphicon glyphicon-plus"></i> Add Test Case
            </a>
        </span>
        <h5>User Story View</h5>
    </div>
    <div class="widget-content nopadding">

        {{ currentUserStory.name }}
        {{ currentUserStory.description }}
    </div>
</div>