<div>
    <div id="header">
        <h1><a href="">Reqman Admin</a></h1>
        <a id="menu-trigger" href="#"><i class="glyphicon glyphicon-align-justify"></i></a>
    </div>
    <div id="user-nav">
        <ul class="btn-group">
            <li>
                <a href="/#/">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li projects-menu></li>
            <li>
                <a href="/#/project/new">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    <span>Add project</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="content">
        <div id="content-header">
            <h1>Project: {{ project.name }}</h1>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span7">
                    <div user-story-list select-item="selectUserStory(userStoryId)" project-id="{{ project.id }}"></div>
                </div>
                <div class="span5">
                    <div user-story-view user-story-id="{{ userStoryId }}" project-id="{{ project.id }}"></div>
                    <div test-case-view test-case-id="{{ testCaseId }}" user-story-id="{{ userStoryId }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>